README.md
todo/
{{ if ne .chezmoi.os "darwin" -}}
{{- /* macOS-specific files */ -}}
.custom-icons
.config/karabiner
.config/iterm2
Library/
{{- end }}
.zcompdump
{{/* Externally modified files */}}
.config/Cursor/User/settings.json
.config/ssh/known_hosts