README.md
todo/

.zcompdump

{{/* macOS-specific files */ -}}
{{- if ne .chezmoi.os "darwin" -}}
.custom-icons
.config/karabiner
.config/iterm2
Library/
{{- end }}

{{/* Linux-specific files */ -}}
{{- if ne .chezmoi.os "linux" -}}
.config/Cursor/User/
{{- end }}

{{/* Externally modified files */ -}}
{{- /* All files in .cursor are managed by Cursor */ -}}
.cursor/
.config/ssh/known_hosts

{{/* Work-specific files */ -}}
{{- if not .work -}}
.config/git/config-*
{{- end }}
