{{/* Boolean feature tags that may be useful in the future */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g., a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine should have work secrets from KeePassXC */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from KeePassXC */}}

{{/* Prompt user for their email */}}
{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-     $email = .email -}}
{{- else -}}
{{-     $email = promptString "email" -}}
{{- end }}

{{/* Work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-     $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-     if eq $computerName "snwolf-mbp" -}}
{{-         $hostname = "snwolf-mbp" -}}
{{-     else if eq $computerName "LM-SJN-40018453" -}}
{{-         $hostname = "work-mbp" -}}
{{-     else -}}
{{-         $hostname = $computerName -}}
{{-     end -}}
{{- end -}}

{{- if eq $hostname "snwolf-mbp" -}}
{{-     $personal = true -}}
{{- else if eq $hostname "work-mbp" -}}
{{-     $work = true -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    personal = {{ $personal }}
    work = {{ $work }}
[keepassxc]
    command = "keepassxc-cli"
{{ if $personal -}}
    database = "/Users/snwolf/Dropbox/.keepass/personal_passwords.kdbx"
{{- end }}
{{ if $work -}}
    database = "/Users/simwolf/OneDrive/.keepass/paypal_passwords.kdbx"
{{- end }}
