# .chezmoi.toml.tmpl

{{/* Boolean feature tags that may be useful in the future */ -}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g., a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine should have work secrets from KeePassXC */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from KeePassXC */}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- /* Prompt user for their email */ -}}
{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-     $email = .email -}}
{{- else -}}
{{-     $email = promptString "email" -}}
{{- end }}

{{- /* Prompt user for whether KeePassXC should be used */ -}}
{{- $useKeepassxc := false -}}
{{- if (hasKey . "useKeepassxc") -}}
{{-     $useKeepassxc = .useKeepassxc -}}
{{- else -}}
{{-     $useKeepassxc = promptBool "useKeepassxc" -}}
{{- end }}

{{- /* Determine operating system ID for linux */ -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- /* Work around unreliable hostname on darwin */ -}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-     $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-     if eq $computerName "simon-work-mbp" -}}
{{-         $hostname = "simon-work-mbp" -}}
{{-     else if eq $computerName "LM-SJN-40018453" -}}
{{-         $hostname = "work-mbp" -}}
{{-     else -}}
{{-         $hostname = $computerName -}}
{{-     end -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-     if eq $hostname "framework" -}}
{{-         $personal = true -}}
{{-     else if eq $hostname "simon-work-mbp" -}}
{{-         $work = true -}}
{{-     else if stdinIsATTY -}}
{{-         $headless = promptBoolOnce . "headless" "headless" -}}
{{-         $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-     else -}}
{{-         $ephemeral = true -}}
{{-         $headless = true -}}
{{-     end -}}
{{- end -}}


[data]
    email = {{ $email | quote }}
    personal = {{ $personal }}
    work = {{ $work }}
    headless = {{ $headless }}
    ephemeral = {{ $ephemeral }}
    hostname = {{ $hostname | quote }}
    osid = {{ $osid | quote }}
    signingkey = "6F6A80526F523B89"

{{- /* Check if we need to create a wrapper script for KeePassXC flatpak */ -}}
{{- $needsWrapper := false -}}
{{- if $useKeepassxc -}}
{{-     if not (lookPath "keepassxc-cli") -}}
{{-         if contains "org.keepassxc.KeePassXC" (output "flatpak" "list" "--columns" "application") -}}
{{-             $needsWrapper = true -}}
{{-         else -}}
{{-             warnf "KeePassXC CLI not found, please install it to use KeePassXC" -}}
{{-             $useKeepassxc = false -}}
{{-         end -}}
{{-     end -}}
{{- end }}
    useKeepassxc = {{ $useKeepassxc }}

{{ if $useKeepassxc -}}
{{- /*  Get XDG_DATA_HOME with fallback to default */ -}}
{{-     $xdgDataHome := env "XDG_DATA_HOME" -}}
{{-     if not $xdgDataHome -}}
{{-         $xdgDataHome = printf "%s/.local/share" .chezmoi.homeDir -}}
{{-     end -}}
{{-     $defaultDatabase := printf "%s/keepassxc/passwords.kdbx" $xdgDataHome -}}
{{-     $keepassxcDatabases := dict "personal" "/var/home/simon/dropbox/.keepass/personal.kdbx" "work" $defaultDatabase -}}
{{- /*  Determine which database to use based on flags */ -}}
{{-     $activeDatabase := $defaultDatabase -}}
{{-     if $personal -}}
{{-         $activeDatabase = index $keepassxcDatabases "personal" -}}
{{-     else if $work -}}
{{-         $activeDatabase = index $keepassxcDatabases "work" -}}
{{-     end -}}

    keepassxcDatabase = {{ $activeDatabase | quote }}

[keepassxc]
    database = {{ $activeDatabase | quote }}
    command = "keepassxc-cli"
{{- end}}
