[user]
	name = "Simon Wolf"
	email = {{ .email | quote }}
    signingkey = 6F6A80526F523B89
[color]
	ui = true
[core]
	editor = vim
	autocrlf = input
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[gpg]
    program = /usr/local/bin/gpg
[commit]
    gpgsign = true
[pull]
	rebase = false
