{{ if (eq .chezmoi.os "darwin" "linux") -}}
#!/usr/bin/env bash

set -eufo pipefail

extensions="$HOME/.config/codium/extensions.list"
cat $extensions | grep -v '^#' | xargs -L1 codium --force --install-extension


{{ end }}
