{{ if (eq .chezmoi.os "darwin" "linux") -}}
#!/usr/bin/env bash

set -eufo pipefail

extensions=(
        DavidAnson.vscode-markdownlint
        dracula-theme.theme-dracula
        James-Yu.latex-workshop
        lonefy.vscode-JS-CSS-HTML-formatter
        matangover.mypy
        ms-python.python
        ms-python.vscode-pylance
        ms-toolsai.jupyter
        ms-toolsai.jupyter-keymap
        shd101wyy.markdown-preview-enhanced
        timonwong.shellcheck
        yzhang.markdown-all-in-one
)

for extension in ${extensions[@]}; do
    code --force --install-extension $extension
done

{{ if (eq .chezmoi.os "darwin) }}
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
{{ end }}


{{ end }}
