[user]
{{ if .personal -}}
	name = "snmw"
	email = "git@morticule.com"
{{- else if .work -}}
	name = {{ .name | quote }}
	email = {{ .email | quote }}
{{- end }}
{{ if .signingkey -}}
    signingkey = {{ .signingkey }}
{{- end}}
[color]
	ui = true
[core]
	editor = nvim
	autocrlf = input
	excludesfile = "~/.config/git/exclude"
[init]
	defaultbranch = main
[gpg]
{{- if .personal }}
    program = gpg
{{- else if .work }}
    format = ssh
{{ end -}}
{{- if .signingkey }}
[commit]
    gpgsign = true
{{ end -}}
[pull]
	rebase = false
[alias]
	fpush = push --force-with-lease
