{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

{{ $taps := list
    "homebrew/core"
    "homebrew/bundle"
    "homebrew/cask"
    "homebrew/cask-fonts" -}}
{{ $formulae := list
    "curl"
    "fzf"
    "gh"
    "git"
    "gnupg"
    "pandoc"
    "pyenv"
    "trash"
    "tree"
    "vim" -}}
{{ $casks := list
    "iterm2" -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{  $formulae = concat $formulae (list
        "shellcheck") -}}
{{ end -}}

{{ if .personal -}}
{{  $formulae = concat $formulae (list
        "dockutil"
        "ffmpeg"
        "mas"
        "wget") -}}
{{  $casks = concat $casks (list
        "audacity"
        "avidemux"
        "brave-browser"
        "digikam"
        "dropbox"
        "firefox"
        "gimp"
        "inkscape"
        "joplin"
        "karabiner-elements"
        "keepassxc"
        "macfuse"
        "mendeley"
        "musescore"
        "praat"
        "signal"
        "skype"
        "spotify"
        "thunderbird"
        "tor-browser"
        "veracrypt"
        "virtualbox"
        "vlc"
        "vscodium"
        "zoom") -}}
{{ end -}}

# Need to symlink /Applications/VeraCrypt.app/Contents/MacOS/VeraCrypt to /usr/local/bin/veracrypt after install

{{ if .work -}}
{{  $formulae = concat $formulae (list
        "jq") -}}
{{  $casks = concat $casks (list
        "visual-studio-code") -}}
{{ end -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($formulae | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
