##########
# System #
##########
alias shutdown="sudo shutdown now"
alias restart="sudo reboot"

######
# cp #
######
alias cp="cp -iv"

#######
# cat #
#######
# bat for cat
if [ "$(command -v bat)" ]; then
    alias cat='bat --style=plain --pager=never' 2>/dev/null
fi

###########
# chezmoi #
###########
alias cm="chezmoi"

#######
# git #
#######
alias gs="git status"
alias ga="git add"
alias gb="git branch"
alias gc="git commit -m"
alias gco="git checkout"
alias gcb="git checkout -b"
alias gpl="git pull"
alias gps="git push"
alias gfp="git fetch --prune"

########
# grep #
########
# ugrep for grep
if [ "$(command -v ug)" ]; then
    alias grep='ug'
    alias egrep='ug -E'
    alias fgrep='ug -F'
    alias xzgrep='ug -z'
    alias xzegrep='ug -zE'
    alias xzfgrep='ug -zF'
fi

############
# homebrew #
############
alias bubu="brew update && brew upgrade --greedy"

#############
# keepassxc #
#############
{{/* If KeepassXC is installed via Flatpak, the CLI is not exposed on the system path */}}
{{ if eq .chezmoi.os "linux" -}}
    if flatpak list --columns=application | grep -q "org.keepassxc.KeePassXC"; then
        alias keepassxc-cli="/usr/bin/env flatpak run --branch=stable --arch=$(uname -m) --command=keepassxc-cli org.keepassxc.KeePassXC"
    fi
{{- end }}
alias kp="keepassxc-cli"
alias kpdb="keepassxc-cli ${KP_DB}"

######
# ls #
######
alias ls="ls --color=auto"
alias l="ls -l"
alias ll="ls -lahF"
alias lls="ls -lahFtr"
alias la="ls -a"
alias lc="ls -CF"

# eza for ls
if [ "$(command -v eza)" ]; then
    alias ls='eza'
    alias ll='eza -l --icons=auto --group-directories-first'
    alias l.='eza -d .*'
    alias l1='eza -1'
fi

######
# mv #
######
alias mv="mv -iv"

######
# rm #
######
alias rm="rm -iv"

#######
# ssh #
#######
SSH_CONFIG=""
SSH_ID=""
# Workaround for using XDG_CONFIG_HOME
if [ -s "${XDG_CONFIG_HOME}/ssh/config" ]; then
    SSH_CONFIG="-F ${XDG_CONFIG_HOME}/ssh/config"
fi
if [ -s "${XDG_CONFIG_HOME}/ssh/id_ed25519" ]; then
    SSH_ID="-i ${XDG_CONFIG_HOME}/ssh/id_ed25519"
fi

alias ssh="ssh ${SSH_CONFIG} ${SSH_ID}"

##############
# subversion #
##############
alias svn="svn --config-dir ${XDG_CONFIG_HOME}/subversion"

########
# wget #
########
# Alias to use a custom history file location
alias wget="wget --hsts-file=${XDG_DATA_HOME}/wget/hsts"
