##########
# System #
##########
alias shutdown="sudo shutdown now"
alias restart="sudo reboot"

###########
# chezmoi #
###########
alias cm="chezmoi"

#######
# git #
#######
alias gs="git status"
alias ga="git add"
alias gb="git branch"
alias gc="git commit -m"
alias gco="git checkout"
alias gpl="git pull"
alias gps="git push"

#############
# keepassxc #
#############
alias kp="keepassxc-cli"
alias kpdb={{ .keepassxc.database }}

######
# ls #
######
alias ls="ls --color=auto"
alias l="ls -l"
alias ll="ls -lahF"
alias lls="ls -lahFtr"
alias la="ls -a"
alias lc="ls -CF"

#######
# ssh #
#######
# Workaround for using XDG_CONFIG_HOME
if [ -s "${XDG_CONFIG_HOME}/ssh/config" ]; then
    SSH_CONFIG="-F ${XDG_CONFIG_HOME}/ssh/config"
fi
if [ -s "${XDG_CONFIG_HOME}/ssh/id_ed25519" ]; then
    SSH_ID="-i ${XDG_CONFIG_HOME}/ssh/id_ed25519"
fi

alias ssh="ssh ${SSH_CONFIG} ${SSH_ID}"

########
# wget #
########
# Alias to use a custom history file location
alias wget="wget --hsts-file=${XDG_DATA_HOME}/wget/hsts"